<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="loader-inner ball-pulse"></div>
            <img class="img-responsive img-circle" src="img/profilepic.jpeg" alt="" style="max-width: 15%;display: inline">
            <h5 class="ml10">
              <span class="text-wrapper">
                <span class="letters" >Wei Tat Lee</span>
              </span>
            </h5>
            <hr>
            <p>University of Edinburgh ● MSc Computer Science</p>
            <a href="assets/CV.pdf" class="btn btn-primary btn-xl page-scroll">CV / Resume</a>
            <a href="assets/MSC_thesis.pdf" class="btn btn-primary btn-xl page-scroll">MSc Thesis</a>

        </div>
    </div>
</header>
