<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="loader-inner ball-pulse"></div>
            <img class="img-responsive img-circle" src="img/profilepic.jpeg" alt="" style="max-width: 15%;display: inline">
            <h1>Wei Tat Lee</h1>
            <hr>
            <p>University of Edinburgh ● MSc Computer Science</p>
            <a href="assets/CV_june2019.pdf" class="btn btn-primary btn-xl page-scroll">CV / Resume</a>
        </div>
    </div>
</header>
